.profileWrapper{
    height: 100%;
}

.solicitudeTitle{
    background-color:#658A05;
    width: 50%;
    height: 65px;
    margin-top: 4vh;
    color: white;
    font-size: 1.8em;
    text-align: left;
    padding-left: 3vh;
    padding-top: 1vh;
    border-radius: 5px;
}

#sectionBground{
    margin-top: 4vh;
    padding-top: 2vh;
    background-color: #9BAD5B;
    border-radius: 10px;
    width:90%;
    height: 90%;
}

.processingTitle{
    background-color:#666C71;
    width: fit-content;
    height: 40px;
    margin-top: 4vh;
    color: black;
    font-size: 1.3em;
    text-align: left;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1vh;
    border-radius: 5px;
}