

  .h1 {
	font-size: 15px;
  font: inter;
  font-weight: 300;
	color: #000;
}

.userName {
    max-width: 160px;
    margin-left: 50px;
    margin-top: -45px;
	  font-size: 15px;
    background: #CFE695;
    background-size: 10%;
	  color: #000;
  	line-height: 15px;
    border: solid .25em transparent;
    border-radius: 1.375em;
}

.dateAbscens {
  max-width: 300px;
  margin-left: 0px;
    margin-top: -15px;
  font-size: 12px;
  background: #CFE695;
  color: #000;
  border: solid .25em transparent;
  border-radius: 1.375em;
  }

    .absences {
      display: flex;
      justify-content: space-between;
      margin: 30%;
    }
        
.event {
  max-width: 160px;
  font-size: 25px;
  color: #000;
  margin-left: -15px;
    margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
  linear-gradient(#CFE695, #96AA1B) content-box,
  linear-gradient(#a9e0b0, #d7ed96) border-box;
}

.list {
        max-width: 300px;
        margin-left: 250px;
        margin-top: -45px;
        background-color: rgb(154, 197, 222);
        border-collapse: collapse; 
        border: 1px solid rgb(124, 179, 137);
}

.description {  
  max-width: max-content;
  flex-direction: column;
  align-self: flex-end;
  float: left;
  margin: 19px;
  padding: 6px; 
  border: 1px solid rgb(124, 179, 137);

}

.mb-3 {

}