label {
    display: flex;
    align-items: center;
  }
  
  span::after {
    padding-left: 5px;
  }
  
  input:invalid + span::after {
    content: "✖";
  }
  
  input:valid + span::after {
    content: "✓";
  }
  
  span::after {
    padding-left: 5px;
  }
  
  input:invalid + span::after {
    content: "✖";
  }
  
  input:valid + span::after {
    content: "✓";
  }

  .userName {
	font-size: 25px;
    background: #CFE695;
    background-size: 10%;
	color: #000;
	padding-left: 10px;
	line-height: 55px;
    
}

.text-center {
	font-size: 25px;
  font: inter;
  font-weight: 400;
	color: #000;
}