  .h1 {
	font-size: 5px;
  font: inter;
  color: #000;
}

.userName {
    max-width: 160px;
    margin-left: 50px;
    margin-top: -45px;
	  font-size: 15px;
    background: #CFE695;
    background-size: 10%;
	  color: #000;
  	line-height: 15px;
    border: solid .25em transparent;
    border-radius: 1.375em;
}

.dateAbscens {
  max-width: 260px;
  margin-left: 0px;
    margin-top: -15px;
  font-size: 12px;
  background: #CFE695;
  color: #000;
  border: solid .25em transparent;
  border-radius: 1.375em;
  }
        
.event {
  max-width: 160px;
  font-size: 25px;
  color: #000;
  margin-left: -15px;
    margin-top: 45px;
    border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
  linear-gradient(#CFE695, #96AA1B) content-box,
  linear-gradient(#a9e0b0, #d7ed96) border-box;
}

.list {
        max-width: 300px;
        margin-left: 250px;
        margin-top: -45px;
        background-color: rgb(154, 197, 222);
        border-collapse: collapse; 
        border: 1px solid rgb(124, 179, 137);
}

.DescriptionTitle {  
  max-width: 160px;
  font-size: 25px;
  color: #000;
  margin-left: -15px;
  margin-top: 45px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(160, 178, 225);
  background: 
  linear-gradient(#74b4d0, #97b2dc) content-box,
  linear-gradient(#6f92b9, #d7ed96) border-box;
}

.Description {
  max-width: 300px;
  margin-left: 250px;
  margin-top: -45px;
  border: 1px solid rgb(140, 195, 139);
  }

  textarea {
    width: 300px;
    height: 150px;
    background:
  linear-gradient(#CFE695, #96AA1B) content-box,
  linear-gradient(#a9e0b0, #d7ed96) border-box;
  color: rgb(4, 4, 4);

}

.justificationTitle {
  max-width: 160px;
  font-size: 25px;
  color: #000;
  margin-left: -15px;
  margin-top: 45px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(160, 178, 225);
  background:
  linear-gradient(#CFE695, #96AA1B) content-box,
  linear-gradient(#a9e0b0, #d7ed96) border-box;
  
}

.choice {
  max-width: 300px;
  margin-left: 250px;
  margin-top: -55px;
  background-color: rgb(154, 197, 222);
  border-collapse: collapse; 
  border: 1px solid rgb(124, 179, 137);
}



.btn-danger {
  max-width: 300px;
  margin-left: -15px;
  margin-top: 80px;

}