.profileWrapper{
    height: 100%;
}

.profTitle{
    background-color:#658A05;
    width: 50%;
    height: 65px;
    margin-top: 4vh;
    color: white;
    font-size: 1.8em;
    text-align: left;
    padding-left: 3vh;
    padding-top: 1vh;
}

#profileTemplate{
width: 100%;
} 

#profileCard{
    background-color: #9BAD5B;
    border: none;
    border-radius: 10px;
}

#profileDetails{
    background-color: #CFE695;
    border: none;
    border-radius: 10px;
}

#profileHeader{
    border: solid 2px salmon;
    display: flex;
    justify-content: flex-start;
}

#photoContainer, #detailsContainer {
    display: flex;
    flex-wrap: wrap;
}

#detailsContainer{
    border: solid 2px rgb(114, 250, 202);
}

#photoContainer{
    border: solid 2px rgb(115, 20, 177);
    width: 18vh;
    height: 18vh;
    margin-left: 0;
    margin-right: 10vh;
    
}
#detailTitle{
    color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    margin-right: 20px;
    font-size: 1.3em;
}

.mainDetails{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#detailsHeader{
    display: flex;
    flex-direction: row;
    align-content: center;
}

#detailFields{
    display: flex;
    flex-direction: row;
    align-content: center;
}

#fieldTitle{
    background: #FBFBFB;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    margin-right: 20px;
    font-size: 1.3em;
}

#fieldContent{
    background: rgba(251, 251, 251, 0.58);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    margin-right: 5em;
    font-size: 1.2em;
}
#employPhoto{
    border-radius: 100%;
    width: 17vh;
    height: auto;
    margin: auto;
}