.green {
    background-color: #cfe695;
    max-height: 90vh;
}

.scrollbar{
    overflow-y: scroll;
}

.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
    width:15px;
}

.contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.contenedor::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 0px;
    border: 2px solid #9fba5b;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 0px;  
}