  #homeAdminLayout{
    width: 95%;
    border-radius: 10px;
    background-color: #8CAC39;
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
  
  #employeesList{
    margin-top: 8.2vh;
  }

  .read-the-docs {
    color: hwb(0 3% 97%);
  }
  
  .calendar-todo-list {
    text-align: left;
    padding: 0;
    list-style: none;
  }
  
  .calendar-todo-list{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #7839ac;
    border-radius: 5px;
  }
  
  .calendar-todo-item-badge {
    vertical-align: top;
    margin-top: 5px;
    width: 6px;
    height: 6px;
    margin-bottom: 5px;
  }  
  
  .green-background {
    background-color: #9fba5b;
    margin-bottom: 5px;
    margin-top: 5px;
  
  }
  
  .white-background {
    background-color: #cbe38c;
    border-radius: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
  }