h1 {
    color: white;
    font-weight: 400;
    font-family: 'Fresca';
}

.title-form-blue {
    background: #1CA5FF;
    max-width: fit-content;
}

.form-mail-blue {
    background: #8DB4CD;
}

label {
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

input {
    font-size: 1rem;
    background: #D9D9D9;
    border-radius: 20px;
    color: black;
    max-width: 160px;
}

textarea {
    border-radius: 10px;
    background-color: #D9D9D9;
}

button {
    cursor: pointer;
}

.swal2-popup {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .swal2-title {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .swal2-icon {
    font-size: 60px;
    color: #007bff;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .swal2-content {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .swal2-actions {
    margin-top: 20px;
  }
  
  .swal2-confirm {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
  }
  
  .swal2-confirm:hover {
    background-color: #0056b3;
    cursor: pointer;
  }
  
  .swal2-cancel {
    background-color: #fff;
    color: #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
  }
  
  .swal2-cancel:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }